$def with (title)
<!DOCTYPE html>
<html>
<head>
    <title>$title</title>
</head>
<body bgcolor="#444448" link="#ADB389" vlink="#ADB389">
<center>

 <form action="./post" method="post">
    <P>
    <textarea name="dox" style="height:500px;width:1000px" placeholder="Post dox and leave. This is not your personal blog do not make it so.">
    </textarea><br />
    <input type="text" name="username" placeholder="Who you doxed"><br /><br\>
     <script type="text/javascript"
  		src="https://www.google.com/recaptcha/api/challenge?k=6Lc2vugSAAAAABCgW8yw9qqpIAuKzCkZqDDLhS17">
 	</script>
 	<noscript>
   		<iframe src="https://www.google.com/recaptcha/api/noscript?k=6Lc2vugSAAAAABCgW8yw9qqpIAuKzCkZqDDLhS17"
       		height="300" width="500" frameborder="0"></iframe><br>
 	</noscript>
    <input type="submit" name="post" value="Post">
    </P>
 </form>

</center>
</body>
</html>